#root {
  height: 100vh;
}

.map-container{
  position: absolute; 
  height: 100vh;
  width: 100vw;
  bottom: 0%;
  left:0px;
}

.nav-bar-top{
  position:absolute;
  height: 60px;
  width: 100vw;
  top: 0%;
  left:0px;
  color : white;
  background: black;
  opacity: 0.4;
  overflow-y:hidden;
  overflow-x:hidden;
    }

.trito-logo{
  position: absolute;
  top: 8px;
  left: 50x;
  height: 50px;
}

.logo-text{
  position: absolute;
  top: 27px;
  left: 217px;
  color: white;
  font-family: 'Inter'
}

.nav-bar-text{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right:0px;
  color: white;
  font-family: 'Inter'
}


.nav-bar-text div {
  width: 150px;
  height: 100px;
}


.my-sliding-pane{ 
  position: absolute!important;
  height: 200px!important;
  bottom:30%
}


.my-sliding-pane .slide-pane__title {
  font-size: 18px;
  font-weight: normal;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-family: 'Inter'
}



.my-sliding-pane .slide-pane__content {
  font-family: 'Inter'
}

.bathy-checkBox{
  position: absolute;
  bottom:50px;
  left: 50px;
  ;
}


.date-slider-container{
  position: absolute;
  top: 100px;
  left: 100px;

}

.info-div{
  position: absolute;
  width: 600px;
  height: 200px;
  bottom: 300px;
  left: 0px;
  color: white;
  background: black;
  opacity: 0.4; 
}

.info-div-text {
  position: absolute;
  color: white;
  font-family: 'Inter';
  width: 600px;
  height: 300px;
  bottom: 200px;
  left: 50px;
}