#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.map-container{
  position: absolute;
  width: 1200px;
  height: 800px;
  overflow: hidden;
}

.info-div{
  position: absolute;
  top: 100px;
  left: 10px;
  color: black;
  background: white;
  padding: 5px 8px;
  border-radius: 5px;
}

.trito-logo{
  position: absolute;
  bottom: 195px;
  left: -5px;
  width: 80px;
  height: 80px;
  border-radius: 5px;

  background: white;
}

.bathy-checkBox{
  position: absolute;
  bottom: 5x;
  left: 200x;
}


.date-slider-container{
  position: absolute;
  top: 10px;
  left: 10px;

}

